# Personal (default)
[user]
    name = {{ .name }}
    email = {{ .email }}

[core]
    editor = nvim
    excludesfile = ~/.gitignore
{{- if .isMac }}
    autocrlf = input
{{- end }}
{{- if .isWSL }}
    autocrlf = true
{{- end }}

[init]
    defaultBranch = main

[push]
    default = current
    autoSetupRemote = true
    followTags = true

[pull]
    rebase = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[branch]
    sort = -committerdate

[merge]
    ff = only

[rebase]
    autosquash = true
    autoStash = true

[tag]
    sort = version:refname

[color]
    ui = auto

[help]
    autocorrect = prompt

[commit]
    template = ~/.gitmessage

# Local overrides
[include]
    path = ~/.gitconfig.local

# Directory-specific settings
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work
